html{
	scroll-behavior: smooth;
}
p{
	margin: 0;
	line-height: 22px; 
	line-height: 1.4;
}
.body{
	margin: 0;
	
	font-family: "Inter", sans-serif;
	color: #292929;
	font-weight: 400;
	font-size: 16px;
}

.main{
	background-color: white;
}
@media(max-width: 1024px){
	.main{
		padding: 120px 72px;
	}
}
@media(max-width: 576px){
	.main{
		padding: 120px 20px;
	}
}

.footer{
	border: solid;
	border-width: 5px;
}


	
	.section-title {
		margin-top: 0px;
		margin-bottom: 64px;
		
		font-weight: 700;
		font-size: 48px;
		line-height: 1;
		letter-spacing: -0.03em;
	}
	@media(max-width: 576px){
		.section-title{
			font-size:40px;
		}
	}
	@media(max-width: 576px){
		.section-title{
			margin-bottom: 32px;
			font-size:32px;
		}
	}
	.section-title:not(.how-to-buy-title){
		text-align: center;
	}
	
.recommended{
	margin-bottom: 120px;
	padding-top: 120px;
}
.products-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
}
@media(max-width: 1024px){
	.products-container{
		flex-direction: column;
		align-items: center;
	}
}
@media(max-width: 576px){
	.products-container{
		align-items: stretch;
	}
}
	.product{
		flex-basis: 324px;
	}
	.product-picture{
		width: 100%;
		
		margin-bottom: 32px;
	}
	.product-title{
		margin-top: 0;
		margin-bottom: 8px;
		
		font-weight: 700;
		font-size: 16px;
	}
	.product-categorie{
		margin-bottom: 12px;
	}
	.product-price{
		font-weight: 700;
	}
	
	.categories{
		max-width: 1200px;
		
		margin: 0 auto;
		margin-bottom: 120px;
	}
	.category{
		margin-bottom: 16px;
	}
	.category-photo{
		display: flex;
		gap : 3%;
		
		
	}
		.photo-wide{
			width: 65%;
		}
		.photo-square{
			width: 32%;
		}
		@media(max-width: 576px){
			.photo-wide{
			width: 48.5%;
			object-fit: cover;
		}
		.photo-square{
			width: 48.5%;
			object-fit: cover;
		}
		}
	.category-title{
		margin: 0px;
	}
/*#region how to buy*/
	.how-to-buy{
		max-width: 1200px;
		
		display: flex;
		gap: 24px;
		
		margin: 0 auto;
		margin-bottom: 120px;
	}
	@media(max-width: 576px){
		.how-to-buy{
			display: block;
		}
	}
	.how-to-buy-title{
		flex-basis: 50%
	}
	.how-to-buy-content{
		flex-basis: 50%;
	}
		.how-to-buy-benefits{
			display: flex;
			flex-direction: column;
			gap: 16px;
			
			list-style: none;
			font-weight: bold;
			
			margin: 0;
			margin-bottom: 40px;
			padding: 0;
		}
/*#endregion*/

.logo{
	height: 24px;
}
@media(max-width: 576px){
	.logo{
	height: 16px;
	}
}